<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <appSettings>
    <add key="CMDSQLPath" value="C:\Program Files (x86)\Microsoft SQL Server\100\Tools\Binn"/>
    <add key="ConnectionString" value="Data Source=(local)\SQL2008;Initial Catalog=DMU;Integrated Security=True;Persist Security Info=False;Pooling=True;Min Pool Size=2;Max Pool Size=1000;Load Balance Timeout=120;Packet Size=4096;Connection Timeout=300"/>
  </appSettings>


  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\tmp\eco.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level - %message%newline"/>
      </layout>
    </appender>
    <appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender">
      <file value="D:\tmp\eco_db.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10000KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="NHibernateFileLog"/>
    </logger>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
