<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EcoManager.Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EcoShared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>


    <userSettings>
        <EcoManager.Shared.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(local)\SQL2008;Initial Catalog=DMU;Integrated Security=True;Persist Security Info=False;Pooling=True;Min Pool Size=2;Max Pool Size=1000;Load Balance Timeout=120;Packet Size=4096;Connection Timeout=300
</value>
            </setting>
            <setting name="MySQLConnectionString" serializeAs="String">
                <value>Data Source=localhost;Database=vistrails;User ID=root</value>
            </setting>
        </EcoManager.Shared.Properties.Settings>
        <EcoShared.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(local)\SQL2008;Initial Catalog=DMU;Integrated Security=True;Persist Security Info=False;Pooling=True;Min Pool Size=2;Max Pool Size=1000;Load Balance Timeout=120;Packet Size=4096;Connection Timeout=300
</value>
            </setting>
        </EcoShared.Properties.Settings>
    </userSettings>
</configuration>